.register-margin {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.register-container {
    max-width: 650px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.register-container i {
    margin-right: 5px;
    color: #5e8039;
}

.submit-button button {
    width: 200px;
    padding: 8px;
    border-radius: 20px;
    border: 1.5px solid #5e8039 !important;
    background-color: #5e8039 !important;
    color: #ffffff !important;
}

.submit-button button:hover {
    border: 1.5px solid #8db760 !important;
    background-color: #8db760  !important;
    color: #ffffff !important;
}

.register-container hr {
    border: 2px solid #EA9F92; /* Color y grosor de la línea */
    width: 100%; /* Ancho de la línea, 100% para cubrir todo el contenedor */ /* Espaciado superior para separar la línea del contenido */
}

.register-container span {
    color: #5e8039;
}

.register-container span:hover {
    color: #8db760;
}

@media (max-width: 767px) {
    .register-container .form-container {
        width: 300px; /* Establecer el ancho al 100% para dispositivos móviles */
        padding: 0 20px; /* Agregar algún espacio en los bordes izquierdo y derecho para que no esté pegado a los bordes de la pantalla */
    }
}