.calendar-margin {
    padding: 20px;
}

.calendar-container hr {
    border: 2px solid #5e8039; /* Color y grosor de la línea */
    width: 100%; 
}

.calendar {
    --fc-page-bg-color: #ffffff;
}

.fc-view-harness {
    z-index: 0;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.fc-view-harness a {
    color: #5e8039;
}

.fc-scrollgrid, .fc-dayGridMonth-view {
    border-radius: 20px;
    overflow: hidden;
}

.event-info-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-info-modal button {
    background-color: #e18473;
    border: 1px solid #e18473;
    color: white;
    border-radius: 25px;
}

.event-info-modal button:hover {
    background-color: #EA9F92;
    border: 1px solid #EA9F92;
    color: white;
    border-radius: 25px;
}