.calendar-margin {
    padding: 20px;
}

.calendar-container hr {
    border: 2px solid #5e8039; /* Color y grosor de la línea */
    width: 100%; 
}

.calendar {
    --fc-page-bg-color: #ffffff;
}

.fc-view-harness {
    z-index: 0;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.fc-view-harness a {
    color: #5e8039;
}

.fc-scrollgrid, .fc-dayGridMonth-view {
    border-radius: 20px;
    overflow: hidden;
}

.fc-prev-button, .fc-next-button, .fc-today-button {
    background-color: #5e8039 !important;
    border: 1px solid #5e8039 !important;
}

.fc-prev-button:hover, .fc-next-button:hover {
    background-color: #8db760 !important;
    border: 1px solid #8db760 !important;
}

.event-info-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-info-modal button {
    background-color: #e18473;
    border: 1px solid #e18473;
    color: white;
    border-radius: 25px;
}

.event-info-modal button:hover {
    background-color: #EA9F92;
    border: 1px solid #EA9F92;
    color: white;
    border-radius: 25px;
}

.calendar {
    max-width: 100%;
}

/* Ajusta el estilo del modal para dispositivos móviles */
@media (max-width: 768px) {

    .calendar-margin {
        padding-bottom: 80px;
    }

    .fc-toolbar-chunk {
        display: flex;
    }

    .fc-media-screen {
        height: 540px;
    }

    .ReactModal__Content {
        width: 80%; /* Ajusta el ancho del modal según tus necesidades */
        max-width: 300px; /* Establece un ancho máximo para evitar que el modal sea demasiado grande */
        margin: 0 auto; /* Centra el modal horizontalmente en la pantalla */
    }

    .event-info-modal h5 {
        font-size: 18px;
    }
}

@media(min-width: 768px) {
    .top-div-header {
        display: none;
    }
}