.timeline-margin {
    padding: 20px;
}

.timeline-btns {
    display: flex;
    justify-content: space-around;
}

.timeline-btns button {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1.5px solid #5e8039 !important;
    background-color: #5e8039 !important;
    color: #ffffff !important;
}

.timeline-btns button:hover {
    border: 1.5px solid #8db760 !important;
    background-color: #8db760 !important;
    color: #ffffff !important;
}

.Timeline hr {
    border: 2px solid #5e8039;
    /* Color y grosor de la línea */
    width: 100%;
}

.posts-list hr {
    border: 1px solid #5e8039;
    /* Color y grosor de la línea */
    width: 100%;
}

/* Agrega esto en tu archivo CSS (por ejemplo, Timeline.css) */
.arrow-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.arrow-icon i {
    color: #5e8039;
}

.arrow-icon i:hover {
    color: #8db760;
}

@media (max-width: 768px) {
    
    .arrow-icon {
        padding-bottom: 120px;
    }
    .timeline-margin {
        padding-bottom: 100px;
    }
}
