.home-container {
    margin-top: 40px;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px 8px rgba(156, 190, 107, 0.5);
    max-width: 1000px !important;
    margin: 0 auto;
}

.home-buttons {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-buttons button {
    width: 200px;
    padding: 8px;
    border-radius: 20px;
    border: 1.5px solid #5e8039 !important;
    background-color: #5e8039!important;
    color: #ffffff !important;
}

.register-btn:hover {
    border: 1.5px solid #8db760 !important;
    background-color: #8db760  !important;
    color: #ffffff !important;
}

.home-buttons span {
    color: #5e8039;
}

.home-buttons span:hover {
    color: #8db760;
}




