.home-margin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Cambia el color de fondo según tus necesidades */
}

.home-container {
    margin-top: 40px;
    background-color: white;
    max-width: 1000px !important;
    margin: 0 auto;
}

.home-buttons {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-buttons button {
    width: 200px;
    padding: 8px;
    border-radius: 20px;
    border: 1.5px solid #5e8039 !important;
    background-color: #5e8039!important;
    color: #ffffff !important;
}

.register-btn:hover {
    border: 1.5px solid #8db760 !important;
    background-color: #8db760  !important;
    color: #ffffff !important;
}

.home-buttons span {
    color: #5e8039;
}

.home-buttons span:hover {
    color: #8db760;
}

@media (max-width: 767px) {
    .home-container {
        padding: 20px !important;
    }
}




