.users-list-margin {
    padding: 20px;
}

.users-title h1 {
    text-align: center;
}

.users-title {
    max-width: fit-content;
}

.Users hr {
    border: 2px solid #5e8039; /* Color y grosor de la línea */
    width: 100%; 
}