.chats-margin {
    padding: 20px;
}

.chat-title h1 {
    text-align: center;
}

.chat-title {
    max-width: fit-content;
    margin: 0 auto;
}

.Chats hr {
    border: 2px solid #5e8039; /* Color y grosor de la línea */
    width: 100%; 
}

#message-time-conversation {
    font-size: 15px;
    color: #63695c;
}

.no-conversations-container {
    max-width: 600px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 20px 8px rgba(156, 190, 107, 0.5);
    text-align: center;
}

.chat-list-container {
    max-width: 600px !important;
    margin: 0 auto;
    display: flex;
    align-items: start;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px 8px rgba(156, 190, 107, 0.5);
}

.chat-list-container img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #EA9F92;
}

.unread-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #5e8039; /* Color de fondo del círculo (verde) */
    color: #ffffff; /* Color del texto (blanco) */
    text-align: center; /* Centra el número dentro del círculo */
    line-height: 25px; /* Centra verticalmente el número dentro del círculo */ /* Hace que el número sea más visible */
}

.unread-circle:active {
    background-color: #5e8039; /* Color de fondo del círculo (verde) */
    color: #ffffff; /* Color del texto (blanco) */
}

.chat-container-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}


@media (max-width: 767px) {
    .chat-list-container img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #EA9F92;
    }
}