.users-filtered-margin {
    padding: 20px;
}

.filtered-users-title h1 {
    text-align: center;
}

.filtered-users-title {
    max-width: fit-content;
    margin: 0 auto;
}

.UsersList hr {
    border: 2px solid #5e8039; /* Color y grosor de la línea */
    width: 100%; 
}
