.settings-button-container {
    display: flex;
    justify-content: flex-end;
}

.profile-margin {
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-info-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    border: 3px solid #EA9F92;
}

.profile-container hr {
    border: 2px solid #5e8039; /* Color y grosor de la línea */
    width: 100%; 
}

.profile-info-text p {
    margin-bottom: 0;
}

.profile-info-text i {
    margin-right: 10px;
    color: #5e8039;
}

.no-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-container {
    width: 50%;
}

.description-submit-button button {
    background-color: #5e8039;
    border: 1px solid #5e8039;
    color: white;
    border-radius: 25px;
}

.description-submit-button button:hover {
    background-color: #8db760;
    border: 1px solid #8db760;
    color: white;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .settings-button-container {
        display: none;
    }

    .user-description {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 30px;
    }

    .description-container {
        margin-left: 20px !important;
        width: 40% !important;
    }    
}

@media (max-width: 768px) {

    .profile-margin {
        padding-bottom: 80px;
    }

    .profile-header-container {
        display: flex;
        flex-direction: column;
    }

    .description-container {
        margin-top: 30px;
        width: 100%;
    }

    .profile-info-img img {
        width: 100px;
        height: 100px;
    }

    .user-profile-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .posts-ratings-buttons {
        flex-wrap: nowrap !important;
    }

}

