.nav-tabs .nav-link {
    background: white;
    color: #000 !important;
    font-size: 0.75rem;
}


.nav-tabs {
    border-bottom: 0 solid #dee2e6
}

.nav-tabs .nav-link {
    margin-bottom: 0;
    background: none;
    border: 0 solid transparent;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus {
    border-color: #efefef !important;
    isolation: isolate
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link {
    color: rgb(248,249,250) !important;
    background-color: #000 !important;
    border-color: #000
}

.nav-tabs .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-fill>.nav-link,.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center
}

.nav-justified>.nav-link,.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center
}

.nav-fill .nav-item .nav-link,.nav-justified .nav-item .nav-link {
    width: 100%
}



.tab-content>.tab-pane {
    display: none;

}

.tab-content>.active {
    display: block
}

.fade {
    transition: opacity 0.15s linear
}

.product-item, .order-item {
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}

.action-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
    margin-top: 15px;
}


.delete-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}


.products-list-head, .orders-list-head {
    border-bottom: 1px solid #dee2e6 !important;
    height: 50px;
}   