.user-detail-margin {
    padding: 20px;
}

.user-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-detail-info {
    display: flex;
    align-items: center;
}

.user-detail-info img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    border: 3px solid #EA9F92;
}

.user-detail-text i {
    margin-right: 10px;
    color: #5e8039;
}

.user-detail-text p {
    margin-bottom: 0;
}

.detail-container hr {
    border: 2px solid #5e8039;
    width: 100%; 
}

.friend-buttons {
    margin-right: 100px;
}

.friend-buttons button {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 25px;
}

.btn-connect, .btn-notifications, .btn-chat, .btn-rating {
    border: 1.5px solid #5e8039 !important;
    background-color: #5e8039 !important;
    color: #ffffff !important;
}

.btn-connect:hover, .btn-notifications:hover, .btn-chat:hover, .btn-rating:hover{
    border: 1.5px solid #8db760 !important;
    background-color: #8db760 !important;
    color: #ffffff !important;
}

.btn-noconnect {
    border: 1.5px solid #db7a69 !important;
    background-color: #db7a69 !important;
    color: #ffffff !important;
}

.btn-noconnect:hover {
    border: 1.5px solid #EA9F92 !important;
    background-color: #EA9F92 !important;
    color: #ffffff !important;
}

.btn-event {
    border: 1.5px solid #5e8376 !important;
    background-color: #5e8376  !important;
    color: #ffffff !important;
}

.btn-event:hover {
    border: 1.5px solid #7dac9b !important;
    background-color: #7dac9b !important;
    color: #ffffff !important;
}

/* SKILLS CONTAINER */

.skill-name p {
    margin-bottom: 0;
}

.skills-info-container {
    max-width: 400px;
}

.skills-info-container i {
    margin-right: 10px;
    color: #5e8039;
}

/* POSTS Y RATINGS */
.posts-ratings-container .nav-item a {
    background-color: #5e8039;
    color: white;
    font-size: 18px;
}

.green-background {
    background-color: #8db760 !important;
    color: white !important;
}

.user-detail-posts-container hr {
    border: 1px solid #5e8039; 
    width: 100%; 
}

.user-detail-posts-container {
    color: #3F423B;
}

.detail-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-bottom-title {
    margin-bottom: 0px !important;
}

@media (max-width: 768px) {

    .top-div-header {
        height: 80px!important;
    }

    .user-detail-margin {
        padding-bottom: 80px;
    }

    .user-detail-info img {
        width: 100px;
        height: 100px;
    }

    .user-detail-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .friend-buttons {
        margin-right: 0;
    }

    .btn-connect {
        margin-right: 35px;
    }

    .user-detail-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .posts-ratings-container {
        width: 100%;
    }

    .posts-ratings-buttons {
        display: flex;
    }
}

@media (min-width: 768px) {

    .user-description {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 80px !important;
        width: 80% !important;
    }

    .ratings-container {
        height: 100% !important;
    }

    .detail-ratings-title {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
    }

    .detail-posts-title {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
    }
    
}






